body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ddd;
}

header {
    background: #50b3a2;
    color: #fff;
    padding-top: 10px;
    min-height: 80px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

header p {
    font-size: 20px;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.result {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.result img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-right: 40px;
}

.result .text {
    flex-grow: 1;
}

.separator {
    margin: 20px 0; 
}

.button {
    width: 100px;
}